<h1>Bienvenido a RURAQ MAKI -- Hecho a mano</h1>
<h2>Vista de HOme</h2>

<table class="table table-hover">
  <thead>
    <tr class="table-warning">
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Notas</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>