/* -----------------------------------------
   GENERAL
----------------------------------------- */
html[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #222;
    --card-bg: #ffffff;
}

html[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #f1f1f1;
    --card-bg: #1e1e1e;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.card {
    background: var(--card-bg);
    transition: all 0.3s ease;
}



/* -----------------------------------------
   FOOTER
----------------------------------------- */
.footer {
    background: var(--card-bg);
    color: var(--text-color);
    border-top: 1px solid #ccc;
}
