<!-- HERO LOCATION SECTION (Animated) -->
<section id="hero" class="hero-section d-flex align-items-center text-center">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src='../images/artisan2.jpg' class="d-block w-100" alt="..." /> 
      </div>
      <div class="carousel-item">
        <img src='../images/artisan1.jpg' class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src='../images/artisan2.jpg' class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {{! 
  <div class="container fade-in-up">
    <h1 class="display-4 fw-bold">Unique and outstanding Locations</h1>
    <p class="lead">The places where the magic takes place</p>
    <a href="#locations" class="btn btn-primary btn-lg mt-3">Meet our Locations</a>
  </div> }}
</section>