<div class="hero">
  <div class="hero-image">
    {{!-- AGREGAR IMAGEN PARA EL HERO --}}
    <img src="imagenes" alt="ruta68" />
  </div>
  <div class="hero-content">
    <h1 class="hero-title">Salta</h1>
    <p class="hero-title">Tierra de cantores y artesanos</p>
  </div>
</div>