<div class="col-md-4 mb-4">
    <div class="card shadow-sm h-100">
        <img src="{{image}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            
        </div>
    </div>
</div>



<!-- ARTISANS (Loaded by AJAX) -->
<section id="artisans" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center fw-bold mb-5">Our Artisans</h2>
    <div class="row" id="artisan-cards">
      {{! Cards inserted dynamically }}
    </div>
  </div>
</section>