<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">RURAQ MAKI Artisan Crafts</a>

    <button id="darkModeToggle" class="btn btn-sm btn-outline-secondary">
      🌙 Dark Mode
    </button>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a
            href="/artisans"
            class="nav-link"
          >Artisans</a></li>
        <li class="nav-item"><a
            href="/products"
            class="nav-link"
          >Products</a></li>
        <li class="nav-item"><a
            href="/locations"
            class="nav-link"
          >Locations</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
      </ul>
    </div>
  </div>
</nav>