<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">Tu Logo</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Bodegas">Bodegas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Alojamiento">Alojamiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Instructores">Instructores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Aventura">Aventura</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            + Aventura
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Submenu 1</a></li>
            <li><a class="dropdown-item" href="#">Submenu 2</a></li>
            <li><a class="dropdown-item" href="#">Submenu 3</a></li>
            <li><a class="dropdown-item" href="#">Submenu 4</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>