<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruraq Maki</title>
    {{!-- <link rel="stylesheet" href="/assets/vendor/bootstrap/css/index.css"> --}}
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="/assets/vendor/bootstrap/css/{{style}}.css"> --}}
    
    <link rel="stylesheet" href="/css/heroLocations.css">
    

</head>
<body>
    {{> navbar}}
    {{> heroLocations}}
    {{{body}}}
    {{> footer}}
    <script src="/js/locationsMain.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>